
/* ------------------ MODAL OVERLAY ------------------- */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modalOverlay.inactive {
  display: none;
}
.modalOverlay.active {
  display: flex;
}


/* ------------------ MODAL CARD ------------------- */

.modalCard {
  width: min(30rem, calc(100dvw - 2rem));
  background-color: var(--background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
} @media only screen and (max-width: 600px) {
    .modalCard {
      padding: 0.6rem 1rem 1rem 1rem;
    }  
}
.modalCard > * {
    width: 100%;
    flex-grow: 1;
}

/* ------------------ MODAL TITLE ------------------- */

.modalCard > p.title {
    margin: unset;
    width: 100%;
    font-size: 1.5rem;
    margin-block-start: 0.5rem;
    margin-inline-start: 1.5rem;
    text-align: left;
    margin-left: 0;
}

/* ------------------ MODAL BODY ------------------- */
.modalCard > .modalScrollableBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 24rem;
    background-color: var(--background-secondary);
    border-radius: 0.8rem;
    overflow-y: scroll;
    padding: 1rem 1.2rem;
    font-size: 0.9rem;
    gap: 0.5rem;
    color: var(--text-primary);
}
.modalCard > .modalBody {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


/* ------------------ MODAL BUTTONS ------------------- */
.modalCard .primary {
    color: var(--blue);
}
.modalCard .destructive {
    color: var(--red);
}
.modalCard .secondary,
.modalCard button {
    color: rgb(from var(--text-secondary) r g b / 0.875);
}

.modalCard > .actionButtons {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.2rem;
}
.modalCard > .actionButtons > button {
  flex-grow: 1;
}