* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* background: #0c0c0c; */
  background: var(--background);
}

#root {
  max-width: 1280px;
  /* height: 100dvh; */
  margin: 0 auto;
  padding: 1rem 1rem;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  padding-block: 2rem;
}
p {
  white-space: pre-wrap;
}
#root:has(.timePickerOverlay.active),
#root:has(.modalOverlay.active) {
  touch-action: none;
}
.mainTitle {
  font-size: 1.8rem;
  font-weight: 700;
  /* color: hsla(39, 100%, 63%, 0.918); */
  color: var(--blue);
  text-align: left;
  margin-inline: 1rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
  /* color: #fff; */
  color: var(--text-primary);
  margin-bottom: 0rem;
  margin-top: 3rem;
  text-align: center;
}
/* .title:has(span) {
  text-align: left;
} */
.firstItemTitle {
  margin-top: 1rem;
}
.copyBtn {
  margin-top: 3rem;
}


.details {
  font-size: 0.8rem;
  font-weight: 400;
  /* color: rgba(255, 255, 255, 0.3); */
  color: rgb(from var(--text-primary) r g b / 0.6);
  /* margin-bottom: 0.2rem; */
  margin-top: -0.5rem;
  text-align: left;
  padding-inline: 1rem;
}

.staffListItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.5rem 0.8rem 1.4rem;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: var(--item-color);
  box-shadow: rgb(from #0F172A r g b / 0.05) 0px 0.1rem 0.6rem 0rem;
  border: var(--border-color) 1px solid;

  width: 32rem;
  border-radius: 1rem;
  transition: 50ms;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: 300ms;
  margin-bottom: -0.2rem;
  padding-block: 1rem;
}



.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  /* background-color: rgba(255, 255, 255, 0.05); */
  background-color: var(--button-color);
  cursor: pointer;
  opacity: 1;
}


.divIconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  /* background-color: rgba(255, 255, 255, 0.05); */
  cursor: pointer;
  opacity: 0.5;
  /* margin-left: auto; */
}
.divIconBtn:active {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.05);
  /* transition: 50ms; */
}


.changeStatusButtonContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 13.5rem;
  justify-content: flex-end;
  /* background-color: rgba(255, 0, 0, 0.137); */
}

.status.P {
  --accent-color: var(--green);
  color: var(--green); 
}
.status.WFH {
  --accent-color: var(--orange);
  color: var(--orange); 
}
.status.L,
.status.A {
  --accent-color: var(--red);
  color: var(--red); 
}
.status.OS {
  --accent-color: var(--blue);
  color: var(--blue); 
}

.status.active {
  background-color: var(--accent-color);
  color: var(--item-color);
  opacity: 1;
  font-weight: 600;
}


.status:active {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--item-color);
  /* transition: 50ms; */
}
/* .status.WFH:active {
  outline-color: #ffe788;
}
.status.L:active,
.status.A:active {
  outline-color: #ff8ca5;
}
.status.OS:active {
  outline-color: #8cb0ff;
} */

/* 
.iconWrapper {
  color: #7474741c;
}
.iconWrapper.P {
  color: #258025;
}
.iconWrapper.WFH {
  color: #ac8826;
}
.iconWrapper.L,
.iconWrapper.A {
  color: #aa2441;
}
.iconWrapper.OS {
  color: #2448aa;
} */


/* .staffListItem:hover {
  background-color: rgba(255, 255, 255, 0.05);
} */

/* .staffListItemContainer {
  display: flex;
  gap: 0.1rem;
} */

.nameStatus {
  color: var(--text-primary);
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.7;
}
.nameStatus.active {
  font-weight: 500;
  opacity: 0.8;
}

input {
  padding: 0.5rem;
  border-radius: 2cap;
  border: 1px solid rgba(255, 255, 255, 0.0);
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: var(--background-secondary);

  color: var(--text-secondary);
  width: 4rem;
  text-align: center;
  height: 2.1rem;
}
input::placeholder {
  color: var(--text-primary);
  opacity: 0.5;
  /* font-style: italic; */
  font-weight: 400;
  /* font-size: 0.6rem; */
  /* padding-left: 0.2rem; */
}

input.inputReason {
  text-align: left;
  flex-grow: 1;
  /* min-width: 20rem; */
  padding: 0.8rem 0.8rem;
  height: 2.1rem;
}
.OS ~ .changeStatusButtonContainer > input.inputReason {
  /* min-width: 20rem; */
  margin-bottom: 0.5rem;
}

.timeInputContainer {
  right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.inputHH {
  margin-left: 0rem;
}
.statusIcon {
  /* background-color: red; */
  /* border-radius: 10rem; */
  align-self: center;
  justify-self: center;
}

.staffListItem {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.changeStatusButtonContainer {
  justify-content: flex-start;
  width: 100%;
}
.changeStatusButtonContainer:has(.active) {
  flex-wrap: wrap;
}


select {
  position: relative;
  border-radius: 0.5rem;
  border: 0px solid transparent;
  background-color: var(--background-secondary);
  /* color: rgba(66, 132, 255, 0.897); */
  color: var(--text-primary);
  /* color: #ff8ca5; */
  width: 10rem;
  height: 2.1rem;
}
select:focus {
  outline: 0px solid transparent;
}
.selectContainer {
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
  padding-inline: 0.8rem;
}
option {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  padding: 1rem;
}
/* option:hover {
  background-color: #1a1a1a;
  color: #646cff;
} */

.unsetIcon {
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  color: #941f50;
  opacity: 0.5
}


p.title {
  position: relative;
  text-align: left;
  font-weight: 200;
  padding-inline: 1rem;
  /* opacity: 0.8; */
  line-height: 1.9rem;
  margin-top: 4rem;
  
}
.titleBtn {
  margin-top: 0.15rem;
  position: absolute;
  right: 0;
  margin-left: auto;
  padding: 0.2rem 1rem;
  background-color: var(--blue);
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--background);
  border-radius: 10rem;
  cursor: pointer;
  transform: translateY(-0.36rem);
}
.titleBtn:active {
  opacity: 0.6;
}

.copyIcon {
  margin-left: -0.3rem;
  transform: translateY(0.25rem);
}


.hide {
  display: none;
}


.pieChart {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 6rem;
  /* background-color: red; */
  align-self: center;
  border-radius: 50%;
  background: conic-gradient(from 30deg,
    #62fd77 0% var(--present),
    #fcb962 0 calc(var(--present) + var(--wfh)),
    #f55b7d 0 calc(calc(var(--present) + var(--wfh)) + var(--leave)),
    #8cb0ff 0 calc(calc(calc(var(--present) + var(--wfh)) + var(--leave)) + var(--os)),
    rgba(255,255,255,0.05) 0
  );
}
.pieChart::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  aspect-ratio: 1 / 1;
  width: 67%;
  background-color: var(--background);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.staffListTextArea {
  width: 100%;
  height: 24rem;
  background-color: var(--background-secondary);
  border-radius: 0.8rem;
  padding: 1rem;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 0.9rem;
  background-color: var(--background-secondary);
  color: var(--text-primary);
}
.staffListTextArea:focus {
  outline: none;
}
.setupActions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.setupActions > button:first-child {
  margin-bottom: 0.5rem;
  
}
.setupButtons {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.setupButtons > button {
  flex-grow: 1;
  color: rgb(from var(--text-secondary) r g b / 0.9);
}

.controlPanel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.5rem 0.8rem 1.4rem;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: var(--item-color);
  box-shadow: rgb(from #0F172A r g b / 0.05) 0px 0.1rem 0.6rem 0rem;
  border: var(--border-color) 1px solid;

  width: 32rem;
  border-radius: 1rem;
  transition: 50ms;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  transition: 300ms;
  margin-bottom: -0.2rem;
  padding-block: 1rem;
}
button.theme {
  flex-grow: 0;
  padding-inline: 1rem;
}

@media only screen and (max-width: 600px) {
  .staffListItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: calc(100dvw - 2rem);
  }

    .controlPanel {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      width: calc(100dvw - 2rem);
    }

  /* .staffListItem:hover {
    background-color: rgba(255, 255, 255, 0.02);
  } */

}

