* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #121212;
}

#root {
  max-width: 1280px;
  /* height: 100dvh; */
  margin: 0 auto;
  padding: 1rem 1rem;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
p {
  white-space: pre-wrap;
}
#root:has(.timePickerOverlay.active) {
  touch-action: none;
}
.mainTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsla(39, 100%, 63%, 0.918);
}
.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0rem;
  margin-top: 2rem;
}
.firstItemTitle {
  margin-top: 0rem;
}
.copyBtn {
  margin-top: 3rem;
}


.details {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

.staffListItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem 0.6rem 1rem;
  background-color: rgba(255, 255, 255, 0.01);
  width: 32rem;
  border-radius: 1rem;
  transition: 50ms;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: 300ms;
}



.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  opacity: 0.3;
}
.status:active {
  opacity: 0.8;
  outline: 1px solid rgb(255, 255, 255);
  /* transition: 50ms; */
}

.divIconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  /* background-color: rgba(255, 255, 255, 0.05); */
  cursor: pointer;
  opacity: 0.5;
  /* margin-left: auto; */
}
.divIconBtn:active {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.05);
  /* transition: 50ms; */
}


.changeStatusButtonContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 13.5rem;
  justify-content: flex-end;
  /* background-color: rgba(255, 0, 0, 0.137); */
}

.status.active {
  opacity: 0.8;
}
.status.P {
  --accent-color: #9aff9a;
  color: #9aff9a; 
}
.status.WFH {
  --accent-color: #ffe788;
  color: #ffe788; 
}
.status.L,
.status.A {
  --accent-color: #ff8ca5;
  color: #ff8ca5; 
}
.status.OS {
  --accent-color: #8cb0ff;
  color: #8cb0ff; 
}

/* .status.active {
  background-color: var(--accent-color);
  color: #1a1a1a;
  opacity: 0.8;
  font-weight: 600;
} */


.status.P:active {
  outline-color: #9aff9a;
}
.status.WFH:active {
  outline-color: #ffe788;
}
.status.L:active,
.status.A:active {
  outline-color: #ff8ca5;
}
.status.OS:active {
  outline-color: #8cb0ff;
}


.iconWrapper {
  color: #7474741c;
}
.iconWrapper.P {
  color: #258025;
}
.iconWrapper.WFH {
  color: #ac8826;
}
.iconWrapper.L,
.iconWrapper.A {
  color: #aa2441;
}
.iconWrapper.OS {
  color: #2448aa;
}


.staffListItem:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.staffListItemContainer {
  display: flex;
  gap: 0.5rem;
}

.nameStatus {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: flex-start;
}
/* .nameStatus.active {
  font-weight: bold;
} */

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.0);
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 4rem;
  text-align: center;
}
input::placeholder {
  color: #fff;
  opacity: 0.3;
  font-style: italic;
  font-weight: 200;
  padding-left: 0.2rem;
}

input.inputReason {
  text-align: left;
  flex-grow: 1;
  min-width: 20rem;
  padding: 0.8rem 0.8rem;
}
.OS ~ .changeStatusButtonContainer > input.inputReason {
  min-width: 20rem;
  margin-bottom: 0.5rem;
}

.inputHH {
  margin-left: 0rem;
}
.statusIcon {
  /* background-color: red; */
  /* border-radius: 10rem; */
  align-self: center;
  justify-self: center;
}

.staffListItem {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.changeStatusButtonContainer {
  justify-content: flex-start;
  width: 100%;
}
.changeStatusButtonContainer:has(.active) {
  flex-wrap: wrap;
}


select {
  position: relative;
  border-radius: 0.5rem;
  border: 0px solid transparent;
  background-color: rgba(46, 46, 46, 0.01);
  /* color: rgba(66, 132, 255, 0.897); */
  color: rgba(255, 255, 255, 0.7);
  /* color: #ff8ca5; */
  width: 10rem;
  height: 2.1rem;
}
select:focus {
  outline: 0px solid transparent;
}
.selectContainer {
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding-inline: 0.8rem;
}
option {
  background-color: #1a1a1a;
  color: rgba(204, 204, 204, 0.897);
  padding: 1rem;
}
/* option:hover {
  background-color: #1a1a1a;
  color: #646cff;
} */

.unsetIcon {
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  color: #941f50;
  opacity: 0.5
}



.hide {
  display: none;
}
@media only screen and (max-width: 600px) {
  .staffListItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: calc(100dvw - 2rem);
  }

  .staffListItem:hover {
    background-color: rgba(255, 255, 255, 0.02);
  }

}