.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .modalCard {
    /* height: 20rem; */
    width: min(30rem, calc(100dvw - 2rem));
    background-color: rgb(15, 15, 15);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
  }
  .modalOverlay.inactive {
    display: none;
  }
  .modalOverlay.active {
    display: flex;
  }
  .w-full {
    width: 100%;
  }
 
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 0.5rem;
  }
  .header > p {
    margin: 0;
  }
  
  .closeIcon {
    cursor: pointer;
    transition: 100ms;
    opacity: 0.2;
  }
  .closeIcon:hover {
    opacity: 0.4;
  }
  
  .actionButtons {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .actionButtons > button {
    flex-grow: 1;
  }

  .actionButtons > .cancel {
    color: rgba(255, 255, 255, 0.5);
  }

  .execNameDetails {
    margin-left: 0rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: flex-start;
  }
  .execAppointment {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgba(255, 210, 112, 0.5);
  }
  

  .execListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding-right: 0.2rem;

  }

  .execListHeader > .iconBtn {
    cursor: pointer;
    opacity: 0.5;
  }

  .execListHeader > .iconBtn:hover {
    opacity: 0.8;
  }

  .executives {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }
  .execListItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.5rem 0.6rem 1rem;
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 1rem;
    transition: 50ms;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: 300ms;
    flex-grow: 1;
    min-height: 3.5rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    box-sizing: border-box;
    /* border: 1px solid rgba(255, 188, 43, 0.1); */
  }

  .timeSelectContainer {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    /* margin-left: 1rem; */
    /* gap: 0.5rem; */
  }
  .timeSelectContainer > input.inputHH {
    margin-left: auto;
  }
  .removeExec {
    transform: translate(-0.2rem, -0.2rem);
  }
  .status.P.exec {
    margin-right: 0.5rem;
  }





  @media only screen and (max-width: 600px) {
    .modalCard {
      /* height: 20rem; */
      width: min(30rem, calc(100dvw - 2rem));
      background-color: rgb(15, 15, 15);
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      padding: 0.6rem 1.5rem;
    }
    .actionButtons {
      margin-top: 1rem;
      margin-bottom: 0.6rem;
    }
  
  }

