
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .modalCard {
    /* height: 20rem; */
    width: min(30rem, calc(100dvw - 2rem));
    background-color: rgb(15, 15, 15);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
  }
  .modalOverlay.inactive {
    display: none;
  }
  .modalOverlay.active {
    display: flex;
  }
  .w-full {
    width: 100%;
  }
  .guestInput {
    text-align: left;
    height: 2.5rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 0.5rem;
  }
  .header > p {
    margin: 0;
  }
  
  .closeIcon {
    cursor: pointer;
    transition: 100ms;
    opacity: 0.2;
  }
  .closeIcon:hover {
    opacity: 0.4;
  }
  .guestDetailsContainer {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
  }
  .actionButtons {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .actionButtons > button {
    flex-grow: 1;
  }

  .actionButtons > .cancel {
    color: white;
  }

  .guestNameDetails {
    margin-left: 0.5rem;
  }
  .guestAppointment {
    font-size: 0.8rem;
    opacity: 0.5;
  }

  .guestListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding-right: 0.5rem;

  }

  .guestListHeader > .destructive {
    cursor: pointer;
    opacity: 0.4;
  }

  .guestListHeader > .destructive:hover {
    opacity: 0.6;
  }