:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #282828;
  /* background-color: #121212; */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light: #ffffff;
  --dark: #282828;
  --dark-secondary: #484848;
  --slate: #F2F6F9;
  --blue: #007AFF;
  --red: #FF383C;
  --orange: #FF8D28;
  --green: #34C759;

  --background: var(--light);
  --button-color: var(--slate);
  --background-secondary: var(--slate);
  --text-primary: var(--dark);
  --text-secondary: var(--dark-secondary);
  --item-color: var(--light);
  --border-color: rgb(from #CAD5E2 r g b / 0.2);
}
:root:has(.dark) {
  --background: #181818;
  --button-color: #1e1e1e;
  --background-secondary: #0a0a0a;
  --text-primary: var(--light);
  --text-secondary: #B3B3B5;
  --item-color: #0f0f0f;
  --border-color: rgb(from #222222 r g b / 0.4);
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  /* box-shadow: rgb(from #0F172A r g b / 0.05) 0px 0.1rem 0.6rem 0rem;
  border: rgb(from #CAD5E2 r g b / 0.2) 1px solid; */
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgba(66, 132, 255, 0.897);
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  border-color: var(--blue);
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
  outline: none;
}
button.destructive,
.destructive {
  color: var(--red);
}
button.destructive:hover,
.destructive:hover {
  border-color: var(--red);
}
